$blue: #3A7CA5;
$rose: #A6808C;

body {
  width: 100%;
  background-color: $rose;
  text-align: center;
}

h1 {
  font-family: 'Philosopher', sans-serif;
}

ul,
li {
  list-style-type: none;
}

img {
  border: 1px solid black;
  border-radius: 50%;
  box-shadow: 5px 5px 10px black;
  margin: 5%;
}

header {
  background-color: $rose;
  font-family: 'Philosopher', sans-serif;
}
