<h1>Bustle & Hustle</h1>

<ul>
  {{#each model as |article|}}
    <li>{{article.title}}</li>
    <li>Author:{{article.author}}</li>
    <li>Date:{{article.date}}</li>
    <li><img src="{{article.image}}" alt="img" width="350px"></li>
  {{/each}}
  </ul>
  {{#link-to 'about'}}Home{{/link-to}}
  {{#link-to 'gossip'}}Click here to gossip{{/link-to}}
